<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="NewsletterUnsubscribe/Default" />

<f:section name="Main">
    <div class="newsletter-unsubscribe">
        <div class="newsletter-unsubscribe__container">
            <div class="newsletter-unsubscribe__card">
                <div class="newsletter-unsubscribe__header">
                    <h2>Confirmation de désinscription</h2>
                </div>
                <div class="newsletter-unsubscribe__body">
                    <div class="newsletter-unsubscribe__alert newsletter-unsubscribe__alert--success">
                        <h4>Votre demande a été traitée avec succès</h4>
                        <p>
                            Votre désinscription a été prise en compte. 
                            Vous ne recevrez plus les newsletters concernées.
                        </p>
                    </div>
                    
                    <p class="newsletter-unsubscribe__info">
                        Si vous souhaitez vous réinscrire à l'avenir, 
                        vous pouvez utiliser nos formulaires d'inscription disponibles sur le site.
                    </p>
                    
                    <div class="newsletter-unsubscribe__actions">
                        <a href="/" class="newsletter-unsubscribe__button newsletter-unsubscribe__button--primary">
                            Retour à l'accueil
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</f:section>
</html> 